body{
  background-color: black !important;
  padding-top: 10px;

}

.typed-text p{
  color: lime;
  font-family: "Courier";
  font-size: 1em;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 35em;
  animation: type 4s steps(60, end);

}

.typed-text p:nth-child(2){
  animation: type2 8s steps(60, end);
}

.cursor{
  animation: blink 1s infinite;
}

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}

.static-text {
  color: lime;
  font-family: "Courier";
  font-size: 1em;
  margin: 10px 0 0 10px;


}

.static-text a:link {
  text-decoration: none;
  color: lime;
  font-family: "Courier";
  font-size: 1em;
}

.static-text a:hover {
  text-decoration: underline;
  color: lime;
  font-family: "Courier";
  font-size: 1em;
}

.static-text a:visited {
  text-decoration: none;
  color: lime;
  font-family: "Courier";
  font-size: 1em;
}

.static-text h2{
  color: lime;
  font-family: "Courier";
  font-size: 1.5em;
}

.static-text li{
  color: lime;
  font-family: "Courier";
  font-size: 1em;



}
